<<<<<<< HEAD

=======
<% if current_user %>
    <span class="user-id-span" data-user='<%=current_user.id%>'></span>
<% else %>
    <span class="user-id-span" data-user='no_user'></span>
<% end %>

<a href='' class="account_stuff" id='logout-link'>Logout</a>
<a href='' class="account_stuff" id='signup-link'>Signup&nbsp&nbsp/&nbsp&nbsp</a>
<a href='' class="account_stuff" id='login-link'>Login</a>
>>>>>>> 4f5fed94e38651ee3927179c4af7bdc3ee836f56

<div id="login-div" title="Login" style="display:none">
    <%= form_tag sessions_path do %>
        <%= label_tag "Username" %>
        <%= text_field_tag :username %>
        <%= label_tag "Password" %>
        <%= password_field_tag :password %>
        <%= button_tag('Login', {type: 'submit', id: 'login-button'}) %>
    <% end %>
</div>

<div id="signup-div" title="Sign up" style="display:none">
    <%= form_for @user do |f| %>
        <%= label_tag "Username" %>
        <%= f.text_field :username %>
        <%= label_tag "Password" %>
        <%= f.password_field :password %>
        <%= f.button('Signup', {type: 'submit', id: 'signup-button'}) %>
    <% end %>
</div>

<% if current_user %>
  <%= current_user.id %>
  <%= link_to("Destroy", logout_path, method: :delete) %>
<% end %>

